.hero-foo{
    background: linear-gradient(-45deg, #EE7752, #e381ce, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

body, html {
    display: flex;
    min-height: 100vh;
	flex-direction: column;
	font-family: 'VT323' !important;
	// overflow:hidden !important;
	::-webkit-scrollbar {
		width: 0px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1; 
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888; 
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555; 
	}
	}
	

  .navbar{
      background-color:#fafafa;
  }

 #navbarMenuHeroA{
    background-color:white;
    .active{
       background-color:#ff8aff;
       color:white;
       
    }
 }

 @media screen and (min-width: 1088px){
     .navbar a.navbar-item:hover{
        background-color:#7dffff;
        color:black;
        
     }

 }

 //Selector

 @import url(https://fonts.googleapis.com/css?family=VT323);


h1{
  color:#fff;
  font-size:56px;
  text-shadow:2px 2px 0 #08c;
  font-weight:normal
}

a{
	font-size:24px;
}

p{
	font-size:25px;
}

.hide{
	top:-60px !important;
	transition: top 1s ease 0s;
}


.marginTop2{
	margin-top: 5% !important

}


